.header{
	width: 100%;
	height: 30px;
	background-color: #fff;
}
.collect{	
	float: left;
	height: 30px;
	line-height: 30px;
	width: 30%;
	margin-left: 100px;
}
.warp-heart{
	position: absolute;
	top:5px;

}
/*CSS3爱心*/
.heart-solid.icon {
  color: rgb(248,182,0);
  position: absolute;
  margin-top: 6px;
  margin-left: 5px;
  width: 9px;
  height: 9px;
  border-left: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.heart-solid.icon:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -1px;
  width: 8px;
  height: 5px;
  border-radius: 5px 5px 0 0;
  border-top: solid 1px currentColor;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  background-color: currentColor;
}

.heart-solid.icon:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 8px;
  width: 5px;
  height: 8px;
  border-radius: 0 5px 5px 0;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  background-color: currentColor;
}

h2{
	display: inline;
	margin-left: 20px;
	color: rgb(102,102,102);
}
.login{
	float: right;
	margin-right: 100px;
}
div .weclome-mooc{
	display: inline;
	line-height: 30px;
	color: rgb(102,102,102);
}
a .logre{
	display: inline;
	line-height: 30px;	
}
a.logre:link{
	color: rgb(102,102,102);
}
.nav-bar{
	position: relative;
	width:100%;
	height: 80px;
	background-color: rgb(29,122,217);
}
.icon-symbol{
	margin-left: 100px;
}
.img-title{
	position: absolute;
	top:50%;
}
.text-title{
	position: absolute;
	top:35%;
	margin-left: 100px;
	color: #fff;
	font-weight: bold;
}
.search-good{
	position: absolute;
	left: 40%;
	top:30%;

}
.search-good .ch-search{
	background-color: rgb(255,140,0);
	height: 32px;
	width: 50px;
	margin-left: -4px;
	border: none;
	font-weight: bold;
	color: #fff;
}
.search-good .search-text{
	height: 30px;
	width:220px;
}
.buy-car{
	position: absolute;
	background-color: rgb(255,140,0);
	border: none;
	height: 32px;
	width: 100px;
	font-weight: bold;
	color: #fff;
	left: 72%;
	top:31.5%;	
}
.good-list{
	background-color: rgb(19,105,192);
	width: 100%;
	height: 40px;
	line-height: 40px;
}
.good-title{
	float: left;
	margin-left: 100px;
}	
.all-good{
	color: #fff;
	font-weight: bold;
	font-size: 20px;
}
.good-where{
	float: right;	
}
.good-where-inner{
	display: inline;
	color: #fff;
	font-weight: bold;
	margin-left: 80px;	
}
.good-sort{
	background-color: rgb(69,147,253);
	width: 180px;
	position: absolute;
	top: 150px;
	left: 5.2%;
	color: #fff;
}
.sort-block-1{
	margin-left: 20px;
	padding-top: 15px;
	height: 40px;
}
.sort-block:nth-child(2){
	background-color: #fff;
	color: #000;
}
.sort-block:nth-child(2) .description{
	color:#fff;
}
.sort-block .sort-header{
	font-size:12px;
	font-weight: bolder;
	display: inline;
}
.description{
	height: 14px;
	width: 42px;
	background-color: rgb(16,106,192);
	margin-left: 4px;
	border:1px solid rgb(16,106,192);
	border-radius: 12px;
	padding: 2px;
}
.to-part{
	margin-top: 5px;
}
.good-phone,.good-computer,.good-LargeAppliances,.good-electricalEequipment,.good-food{
	display: inline;
}
.good-pull-down-list{
	position: absolute;
	width: 700px;
	height: 500px;
	left: 18.5%;
	color: #000;
	z-index: 1000;
}
.good-pull-down-display{
	height: 40px;
	padding-top: 10px;
	border-bottom: 1px solid rgb(229,229,229);
}
.header-good-pull-down-display{
	color: rgb(75,136,218);
	font-weight: bold;
}

.all-good-display,.computer-all,.hardware-peripheral,.good-pull-down-display .span,.header-good-pull-down-display,.computer-detail,.part-detail,.Machine-accessories,.computer-peripherals,.network-equipment,.Audio-equipment,.outside-part{
	display: inline;
	margin-left: 5px;
}

.body-display{
	margin:0 auto;
	width: 89.6%;
}
.computer-all,.hardware-peripheral{
	height: 20px;
	width: 100px;
	background-color: rgb(39,133,230);
	color: #fff;
	padding: 8px;
	line-height: 30px;
}
